@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;400;600&display=swap');

/* Setup */
student {
  display: block;
  margin-bottom: 1em;
  padding: 5px;
  border: 1px solid #333
}

/* Showing Attributes using CSS content + attr() */

student::before{
  content: "Student ID: " attr(id) " | Status: " attr(status);
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;

}
